%h1 Listing data_sets

%table
  %tr
    %th Title
    %th Description
    %th Createdate
    %th
    %th
    %th

  - @data_sets.each do |data_set|
    %tr
      %td= data_set.title
      %td= data_set.description
      %td= data_set.createdate
      %td= link_to 'Show', data_set
      %td= link_to 'Edit', edit_data_set_path(data_set)
      %td= link_to 'Destroy', data_set, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Data set', new_data_set_path
