%h1 Listing sources

%table
  %tr
    %th Name
    %th Description
    %th Homepageurl
    %th
    %th
    %th

  - @sources.each do |source|
    %tr
      %td= source.name
      %td= source.description
      %td= source.homepageurl
      %td= link_to 'Show', source
      %td= link_to 'Edit', edit_source_path(source)
      %td= link_to 'Destroy', source, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Source', new_source_path
