.form-horizontal
  = form_for @dataset do |f|
    - if @dataset.errors.any?
      #error_explanation
        %h2= "#{pluralize(@dataset.errors.count, "error")} prohibited this dataset from being saved:"
        %ul
          - @dataset.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :title, class: "col-sm-2 control-label"
      .col-sm-9
        = f.text_field :title
    .form-group
      = f.label :description, class: "col-sm-2 control-label"
      .col-sm-9
        = f.text_area :description
    .form-group
      = f.label :createdate, class: "col-sm-2 control-label"
      .col-sm-9
        = f.date_select :createdate

    .actions.col-sm-offset-2.col-sm-9
      = f.submit 'Save', class: "btn btn-large btn-info"
    
