%p#notice= notice

%p
  %b Title:
  = @dataset.title
%p
  %b Description:
  = @dataset.description
%p
  %b Creation date:
  = @dataset.createdate

%div
  @attachments.each do |attachment|
  # create a div for each attachment name

%div
  # new attahcment form


= link_to 'Edit', edit_dataset_path(@dataset)
\|
= link_to 'Back', datasets_path
