<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @document.source %>
</p>

<p>
  <strong>Publicationdate:</strong>
  <%= @document.publicationdate %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @document.tags %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
