.form-horizontal
  = form_for @tag do |f|
    - if @tag.errors.any?
      #error_explanation
        %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
        %ul
          - @tag.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :name, class: "col-sm-1 control-label"
      .col-sm-9
        = f.text_field :name
    .actions.col-sm-offset-1.col-sm-9
      = f.submit 'Save', class: "btn btn-large btn-info"
